@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

:host {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .mat-form-field {
    width: 100%
  }
  .message {
    mat-icon {
      position: absolute;
      bottom: 67px;
      right: 0;
    }
  }

  ::ng-deep {
    .mat-form-field-infix {
      margin-right: $base-space-unit + 15px;
      textarea {
        resize: none;
      }
    }
  }
}
