<h2 mat-dialog-title class="flex flex--space-between flex--align-center pt-5 mb-30">
  <span class="ml-15">
    {{'Introduce logged work time'}}
  </span>
  <button mat-icon-button mat-dialog-close class="mr-15">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<div mat-dialog-content class="flex flex--justify-center p-0 m-0 mr-15 ml-15">
  <form [formGroup]="logWorkForm" class="form--validation">
    <!-- Logged Work -->
    <mat-form-field appearance="outline" matTooltip="{{'min value is 0.125 witch mean 1 hour'}}"
      matTooltipPosition="above" matTooltipClass="log-work-tooltip">
      <mat-label>Log Time</mat-label>
      <input cdkFocusInitial matInput placeholder="Log Time" type="number" step="0.125" min="0.125"
        formControlName="loggedTime">
      <mat-icon matSuffix>av_timer</mat-icon>
      <mat-error *ngIf="fieldHasError('loggedWork','required')">
        {{'Type log time !'}}
      </mat-error>
    </mat-form-field>
    <!-- Message -->
    <mat-form-field appearance="outline" class="message">
      <mat-label>Message</mat-label>
      <textarea matInput placeholder="Enter your message" rows="4" formControlName="message">
      </textarea>
      <mat-icon matSuffix>comment</mat-icon>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="flex flex--justify-center p-0 m-0">
  <button mat-raised-button color="primary" [disabled]="!logWorkForm.valid" (click)="saveLoggedTime()">
    Save
  </button>
</div>
