<div class="block-login">
  <!-- <h2 class="mat-h2">Welcome to Smile Tasks Tracker</h2> -->
  <img class="logo-owner" src="../../../assets/imgs/Logo_smile_orange.png" alt="logo Smile">
  <mat-card>
    <mat-card-title>{{'Login to your account'}}</mat-card-title>
    <mat-card-content class="flex flex--justify-center">
      <form [formGroup]="loginForm" id="form--validation">
        <mat-form-field color="warn" appearance="outline">
          <mat-label>{{'Username'}}</mat-label>
          <input formControlName="username" autocomplete="off" matInput placeholder="Enter your username">
          <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>
        <mat-form-field color="warn" appearance="outline">
          <mat-label>{{'Password'}}</mat-label>
          <input formControlName="password" matInput placeholder="Enter your password" type="password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="warn" (click)="onLogin()">{{'Submit'}}</button>
    </mat-card-actions>
  </mat-card>
</div>
