@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

:host {
  position: relative;
  display: block;
  min-height: 100vh;

  .logo-owner {
    display: block;
    margin: 30px auto;
    max-width: 300px;
  }

  .block-login {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;

    @include respond-to('small') {
      width: 85%;
      left: 50%;
      top: 35%;
    }

    h2 {
      text-align: center;
      margin: 20px 50px 0;
    }

    .mat-card {
      text-align: center;
      padding: 0;
      .mat-card-title {
        background-color: map-get($colors, primary);
        padding: 20px 0;
        margin-bottom: 32px;
        color: map-get($colors, white);
      }
      .mat-card-content {
        margin-bottom: 0;
      }

      .mat-card-content > * {
        width: 80%;
        mat-form-field {
          width: 100%;
        }
      }

      ::ng-deep {
        .mat-card-actions {
          margin: 0;
          button {
            margin-bottom: 10px;
            width: 80%;

            * {
              color: map-get($colors, white) !important;
            }
          }
        }
      }
    }
  }
}
