<div class="modal-right">
  <h2 mat-dialog-title>
    <span *ngIf="isDetailsMode()">
      Details - <b>{{data.ticket.label}}</b>>
    </span>
    <span *ngIf="isEditMode()">
      Edit - <b>{{data.ticket.label}}</b>
    </span>
    <span *ngIf="isAddMode()">
      {{' Add new Ticket'}}
    </span>

    <div class="modal-right_actions">

      <!-- Options Block -->
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!isAddMode() && (data && !data.source)">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [disabled]="isDetailsMode()" (click)=openLogWorkDialog(data)>
          <mat-icon>av_timer</mat-icon>
          <span>{{'Log work'}}</span>
        </button>
        <button mat-menu-item (click)=displayHistory(data)>
          <mat-icon>history</mat-icon>
          <span>{{'View history'}}</span>
        </button>
        <button mat-menu-item [disabled]="isDetailsMode()" (click)="openDeleteConfirmationDialog(data.ticket)">
          <mat-icon>delete</mat-icon>
          <span>{{'Remove'}}</span>
        </button>
      </mat-menu>

      <div class="actions">
        <button mat-raised-button color="primary" [disabled]="!ticketForm.valid" (click)="saveForm('add')"
          *ngIf="isAddMode()">{{'Add'}}</button>
        <button mat-raised-button color="primary" [disabled]="!ticketForm.valid" (click)="saveForm('edit')"
          *ngIf="isEditMode()">{{'Save'}}</button>
      </div>

      <button mat-button *ngIf="data && data.source && data.source === 'frontoffice'" (click)=openLogWorkDialog(data)>
        <mat-icon>av_timer</mat-icon>
        <span>{{'Log work'}}</span>
      </button>
      <button mat-button *ngIf="data && data.source && data.source === 'frontoffice'" (click)=displayHistory(data)>
        <mat-icon>history</mat-icon>
        <span>{{'View history'}}</span>
      </button>

      <button mat-icon-button *ngIf="isDetailsMode() && (data && !data.source)" (click)="onEditClick()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </h2>
  <mat-dialog-content>
    <form class="form-ticket" [formGroup]="ticketForm" id="form--validation">

      <div class="toggles flex flex-column">
        <div class="toggles_item">
          <!-- TRIGGERS FOR STATUS OF THE TICKET -->
          <mat-label class="toggle-group-title">{{'Status'}}</mat-label>
          <mat-button-toggle-group [disabled]="!isEditMode()" #statusGroup="matButtonToggleGroup"
            formControlName="status" [ngModel]="getTicketStatus(data)">
            <mat-button-toggle value="TODO">
              <span>
                {{'Todo'}}
              </span>
            </mat-button-toggle>
            <mat-button-toggle value="IN_PROGRESS">
              <span>
                {{'In progress'}}
              </span>
            </mat-button-toggle>
            <mat-button-toggle value="CODE_REVIEW">
              <span>
                {{'Code review'}}
              </span>
            </mat-button-toggle>
            <mat-button-toggle value="DONE">
              <span>
                {{'Finished'}}
              </span>
            </mat-button-toggle>
            <mat-button-toggle value="CANCELED">
              <span>
                {{'Cancelled'}}
              </span>
            </mat-button-toggle>
          </mat-button-toggle-group>

        </div>
        <div class="toggles_item">
          <!-- TRIGGERS FOR IMPORTANCE -->
          <mat-label class="toggle-group-title">{{'Importance'}}</mat-label>
          <mat-button-toggle-group [disabled]="!isEditMode()" #importanceGrroup="matButtonToggleGroup" color="accent"
            formControlName="importance" [ngModel]="getTicketImportance(data)">
            <mat-button-toggle value="minimal">
              <span>
                {{'Minimal'}}
              </span>
            </mat-button-toggle>
            <mat-button-toggle value="average">
              <span>
                {{'Average'}}
              </span>
            </mat-button-toggle>
            <mat-button-toggle value="high">
              <span>
                {{'high'}}
              </span>
            </mat-button-toggle>
            <mat-button-toggle value="critical">
              <span>
                {{'Critical'}}
              </span>
            </mat-button-toggle>
          </mat-button-toggle-group>

        </div>
        <div class="toggles_item">
          <!-- TRIGGERS FOR TICKET TYPE -->
          <mat-label class="toggle-group-title">{{'Ticket type'}}</mat-label>
          <mat-button-toggle-group [disabled]="!isEditMode()" #typeGroup="matButtonToggleGroup" color="accent"
            formControlName="type" [ngModel]="getTicketType(data)">
            <mat-button-toggle value="FEAT">
              <span>
                {{'Feature'}}
              </span>
            </mat-button-toggle>
            <mat-button-toggle value="BUGFIX">
              <span>
                {{'Bugfix'}}
              </span>
            </mat-button-toggle>
            <mat-button-toggle value="IMPR">
              <span>
                {{'Improvement'}}
              </span>
            </mat-button-toggle>
            <mat-button-toggle value="CHORE">
              <span>
                {{'Chore'}}
              </span>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="flex">
        <div class="form-ticket_left flex--1">
          <!-- Global informations block -->
          <div class="form-ticket_globals">
            <h2 class="section-header section-header--primary">
              {{'Global Informations'}}
            </h2>

            <mat-form-field [color]="'warn'" appearance="outline">
              <mat-label>Assigned to</mat-label>
              <mat-select placeholder="Choose user" [ngModel]="getAssignedUser(data)" disableRipple name="userType"
                formControlName="assignedUserId" [errorStateMatcher]="matcher">
                <mat-option [value]="user.id" *ngFor="let user of getUsers()">
                  {{user.firstname}} {{user.lastname}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!ticketForm.hasError('required')">
                Please assign a user
              </mat-error>

            </mat-form-field>
            <mat-form-field [color]="'warn'" appearance="outline">
              <mat-label>Ticket Title</mat-label>
              <input matInput autocomplete="on" placeholder="Enter Ticket Title" name="title" [ngModel]="getLabel(data)"
                formControlName="label" [errorStateMatcher]="matcher">
              <mat-icon matSuffix></mat-icon>
              <mat-error *ngIf="!ticketForm.hasError('required')">
                Ticket title is <strong>required</strong>
              </mat-error>

            </mat-form-field>
            <mat-form-field [color]="'warn'" appearance="outline">
              <mat-label>Ticket Ref</mat-label>
              <input matInput autocomplete="on" placeholder="Enter Ticket Ref" name="reference"
                [ngModel]="data.mode === 'add' ? setTicketRef(data) : getTicketRef(data)" formControlName="reference"
                [errorStateMatcher]="matcher">
              <mat-icon matSuffix></mat-icon>
              <mat-error *ngIf="!ticketForm.hasError('required')">
                Ticket reference is <strong>required</strong>
              </mat-error>

            </mat-form-field>
            <mat-form-field [color]="'warn'" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="{{'Enter Description'}}" rows="20" name="description"
                [ngModel]="getDescription(data)" formControlName="description" [errorStateMatcher]="matcher">
            </textarea>
              <mat-error *ngIf="!ticketForm.hasError('required')">
                Ticket description is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-ticket_right flex-column flex--1">
          <!-- Timesheeting block -->
          <div class="form-ticket_time">
            <h2 class="section-header section-header--primary">
              {{'Timesheeting'}}
            </h2>
            <div class="flex">
              <mat-form-field [color]="'warn'" appearance="outline" class="flex--1">
                <mat-label>Estimated</mat-label>
                <input matInput type="number" (change)="refreshRemainingTime($event)" min="0.125" autocomplete="off"
                  placeholder="Estimated" [ngModel]="getEstimated(data) ? getEstimated(data) : 0.125" name="estimated"
                  step="0.125" formControlName="estimated" [errorStateMatcher]="matcher">

                <mat-error *ngIf="!ticketForm.hasError('required')">
                  Estimated time is <strong>required</strong>
                </mat-error>

              </mat-form-field>
              <mat-form-field [color]="'warn'" appearance="outline" class="flex--1">
                <mat-label>Remaining</mat-label>
                <input matInput type="number" autocomplete="off" placeholder="Remaining" formControlName="remaining"
                  [ngModel]="getRemaining(data) ? getRemaining(data)  : 0.125" name="remaining" step="0.125">

              </mat-form-field>
              <mat-form-field [color]="'warn'" appearance="outline" class="flex--1">
                <mat-label>Logged</mat-label>
                <input matInput autocomplete="on" type="number" placeholder="Logged" formControlName="logged"
                  [ngModel]="calcLogged(getTime(data).logged) ? calcLogged(getTime(data).logged) : 0" name="logged"
                  step="0.125">
              </mat-form-field>
            </div>
          </div>
          <!-- Attachments block -->
          <div class="form-ticket_attachments">
            <mat-list>
              <h2 class="section-header section-header--primary flex flex--align-center flex--space-between">
                {{'Attachments'}}
                <button mat-icon-button *ngIf="!isDetailsMode()" class="form-ticket_attachments_add">
                  <mat-icon>note_add</mat-icon>
                  <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
                    [uploadInput]="uploadInput" formControlName="attachments" multiple>
                </button>
              </h2>
              <div class="form-ticket_attachments_items flex flex--wrap flex--space-around">
                <div *ngIf="getAttachment(data).length > 0">
                  <button mat-button color="primary" *ngFor="let attachement of getAttachment(data)">
                    <div class="flex flex-column flex--justify-center flex--align-center">
                      <mat-icon *ngIf="attachement.type === 'image'">photo</mat-icon>
                      <mat-icon *ngIf="attachement.type === 'application'">file_copy</mat-icon>
                      <span>
                        {{attachement.name}}
                      </span>
                    </div>
                  </button>
                </div>
                <span *ngIf="getAttachment(data).length  === 0">{{'No attached files yet.'}}</span>
              </div>
            </mat-list>
          </div>
          <!-- Comments block -->
          <div class="form-ticket_comments">
            <mat-list>
              <h2 class="section-header section-header--primary">
                {{'Comments'}}
              </h2>
              <div class="form-ticket_comments_box mat-elevation-z1" *ngFor="let item of getComments(data)">
                <div class="form-ticket_comments_header">
                  <h4 *ngIf="getUserName(item.userId)">{{getUserName(item.userId)}}</h4>
                  <p *ngIf="item.date">{{item.date  | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</p>
                </div>
                <p *ngIf="item.comment">
                  {{item.comment}}
                </p>
                <p *ngIf="!item.comment">
                  {{'No comment'}}
                </p>
              </div>
              <mat-divider></mat-divider>
              <mat-form-field [color]="'warn'" appearance="outline">
                <textarea matInput placeholder="Leave a comment" name="comment" rows="3" formControlName="comment"
                  [errorStateMatcher]="matcher">
        </textarea>
              </mat-form-field>
            </mat-list>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>
