@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

:host::ng-deep {
  mat-dialog-content {
    .form-ticket {
      &_time {
        .mat-form-field-infix {
          width: auto;
        }
      }

      &_attachments {
        &_add {
          position: relative;

          .mat-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          input {
            position: absolute;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
            width: 100%;
            cursor: pointer;
          }
        }

        &_items {
          button {
            span {
              margin-top: 5px;
              line-height: normal;
            }
          }
        }
      }

      &_comments {
        &_box {
          background: #ffffff73;
          padding: 10px;
          margin-bottom: 5px;
          min-height: 60px;
        }
        &_header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          * {
            margin: 0;
          }

          p {
            font-size: 12px;
            color: $primary;
            font-weight: bold;
          }

          h4 {
            font-size: 14px;
            color: $primary;
          }
        }
      }

      &_right,
      &_left {
        max-width: 50%;
        margin: 10px;

        mat-form-field {
          display: block;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }

    .toggles {
      background-image: linear-gradient(to right, rgb(102, 102, 102), rgba(255, 255, 0, 0));

      &_item {
        margin: 10px 0;

        .toggle-group-title {
          font-weight: bold;
          color: map-get($colors, white);
          padding: 0 15px;
        }
      }
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      line-height: 30px;
      padding: 0 6px;
    }
  }

  .modal-right_actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}
