<div class="page">
  <span class="generic-error" *ngIf="genericError">{{genericError}}</span>
  <app-table-content *ngIf="data.columns.length > 0" [(data)]="data" [(title)]="title"></app-table-content>
</div>
