<h2 mat-dialog-title class="flex flex--space-between flex--align-center pt-5 mb-15" cdkDrag
  cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragLockAxis="x,y">

  <span class="ml-15">
    {{'Active History'}}
  </span>
  <button mat-icon-button cdkFocusInitial mat-dialog-close class="mr-15">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<div mat-dialog-content class="flex flex--justify-center p-0 m-0">
  <p>it working!!</p>
</div>
<div mat-dialog-actions class="flex flex--justify-center p-0 m-0">
</div>
