@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

:host {
  display: block;
  margin: 0 auto;

  .table-content {
    display: block;

    &_title {
      @include font($globalFontFamily, 28px, bold, false);
      margin-block-start: 1em;
      margin-block-end: 1em;
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding: 0;
        margin: 0;
        .mat-form-field-flex {
          .mat-form-field-infix {
            padding: 0.5em 0;
          }
        }
      }
    }
  }
}

::ng-deep {
  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    display: flex;
    align-items: center;
    &:last-child {
      justify-content: flex-end;
    }
  }

  .ngx-datatable.material .datatable-header {
    display: flex;
  }
}
