<div class="table-content">
  <p class="table-content_title" *ngIf="title" [class.accent-color]="title === 'Users'"
    [class.warn-color]="title === 'Projects'">{{title}}</p>
  <ngx-datatable class="material mb-15" [rows]="getArray()" [columns]="columns" [columnMode]="'force'"
    [headerHeight]="56" [footerHeight]="50" [rowHeight]="65" [scrollbarV]="true"
    [scrollbarH]="true" style="height: 370px">
    <ngx-datatable-column name="{{title}}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button mat-button (click)="displayUserDetails(row)" *ngIf="row.firstname && row.lastname" matRipple
          matTooltip="{{ 'View '+ row.firstname + ' ' + row.lastname +' details' }}" matTooltipClass="tooltip-custom">
          <div class="flex flex--align-center flex--justify-center">
            <i [ngStyle]="{ 'background-image': getRole(row.role), 'margin-right': '15px' }"
              class="icon-user icon-user-{{row.role}}" *ngIf="row.firstname && row.lastname"></i>
            {{row.firstname}} {{row.lastname}}
          </div>
        </button>
        <button mat-button (click)="displayProjectDetails(row)" *ngIf="row.projectName" matRipple
          matTooltip="{{ 'View '+ row.projectName + ' details' }}" matTooltipClass="tooltip-custom">
          <div class="flex flex--align-center">
            <img class="img-circle img-circle-small" [src]="row.image" alt="project image">
            {{row.projectName}}
          </div>
        </button>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <mat-form-field appearance="outline" [color]="title === 'Projects' ? 'warn' : 'accent'"
          matTooltip="{{ 'Search into the list' }}" matTooltipClass="tooltip-custom">
          <input matInput [placeholder]="'Search in ' + title.toLowerCase()" [(ngModel)]="search_box" autocomplete="off"
            (keyup)="filtredData($event.target.value)">

          <mat-icon matSuffix [color]="title === 'Projects' ? 'warn' : 'accent'">search</mat-icon>
        </mat-form-field>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="table-content_options  flex flex--justify-right">
          <button class="ml-5" mat-raised-button [color]="row.firstname && row.lastname ? 'accent' : 'warn'"
            (click)="editData(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="ml-5" mat-raised-button [color]="row.firstname && row.lastname ? 'accent' : 'warn'"
            (click)="openDeleteConfirmationDialog(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>

  <button mat-raised-button color="accent" (click)="openDialogUsers()" *ngIf="title === 'Users'">
    <mat-icon>add_circle</mat-icon>
    Add {{getName(title)}}
  </button>

  <button mat-raised-button color="warn" (click)="openDialogProjects()" *ngIf="title === 'Projects'">
    <mat-icon>add_circle</mat-icon>
    Add {{getName(title)}}
  </button>
</div>
