<div class="page-dashboard">
  <h1 class="section-header--big-title">{{'Tableau de bord'}}</h1>
  <div class="page-dashboard__charts">
    <div class="page-dashboard__chart-bars">
      <ngx-charts-bar-vertical [results]="barChartData" [view]="[600, 450]"
        [scheme]="{ domain: [ '#30E07B', '#E75691', '#00C0FF', '#5D6A75' ] }" [barPadding]="10" [gradient]="true"
        [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="'Legende'" [xAxisLabel]="''" [yAxisLabel]="''"
        [showXAxisLabel]="true" [showYAxisLabel]="true">
      </ngx-charts-bar-vertical>
    </div>
    <div class="page-dashboard__chart-pie">
      <ngx-charts-advanced-pie-chart [view]="[600, 450]" [scheme]="pieChartScheme" [results]='pieChartData' (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>
</div>
