:host {
  .page-dashboard {
    max-width: 90%;
    margin: 0 auto;
    display: block;

    &__charts {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__chart-pie {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px 0;
    }

    &__chart-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px 0;
    }
  }

  &::ng-deep {
    .advanced-pie-legend .legend-items-container .legend-items {
      overflow: initial;
    }
  }
}
