@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

:host {
  display: block;
  .assignations {
    @include breakpoint(tablet-small) {
      margin: 0 $base-space-unit + 5px;
    }
    &_right,
    &_left {
      @include breakpoint(tablet-small) {
        flex: 0 0 calc(100% - 10px);
        margin-bottom: $base-space-unit + 5px;
      }
      flex: 0 0 calc(50% - 10px);
      border: 1px solid map-get($colors, grayLight);
      height: 300px;
      overflow: hidden;
      background: map-get($colors, white);

      mat-list {
        padding: 0;
      }

      &_heading {
        mat-form-field {
          width: 100%;
          margin: $base-space-unit;
        }
      }

      mat-icon {
        cursor: pointer;
      }
      ::ng-deep {
        .mat-form-field-wrapper {
          padding: 0;
          margin: 0;
          .mat-form-field-flex {
            .mat-form-field-infix {
              padding: 0.5em 0;
            }
          }
        }
      }
    }
  }
}
