<div class="assignations flex flex--justify-center flex--align-center flex--space-between flex--wrap">
  <!-- Init array block -->
  <div class="assignations_left mat-elevation-z4">
    <mat-list>
      <div class="assignations_right_heading flex flex--justify-center flex--align-center flex--space-between">
        <h2 mat-subheader class="flex--1 m-0">{{getPlaceholder('left')}}</h2>
        <mat-form-field appearance="outline" [color]="label === 'Users' ? 'warn' : 'accent'" class="flex--1">
          <input matInput [placeholder]="'Search in ' + getPlaceholder('left')"
            autocomplete="off" (keyup)="filtredInit($event.target.value)"
            [disabled]="filtredInitArray.length  === 0 && initArray.length  === 0">
          <mat-icon matSuffix [color]="label === 'Users' ? 'warn' : 'accent'">search</mat-icon>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <span class="generic-msg" *ngIf="initArray.length === 0 && label === 'Users'">
        {{'All users are assigned to this project'}}
      </span>
      <span class="generic-msg" *ngIf="noItemFoundOnUnassigned">
        {{'No items found !'}}
      </span>
      <span class="generic-msg" *ngIf="initArray.length  === 0 && label === 'Projects'">
        {{'All projects are assigned to this user'}}
      </span>
      <div *ngIf="initArray.length > 0">
        <perfect-scrollbar style="max-height: 244px;" class="scroll-container">
          <mat-list-item *ngFor="let item of filtredInitArray">
            <button mat-raised-button *ngIf="!isDetailsMode"
              [color]="item.firstname && item.lastname ? 'warn' : 'accent'" (click)="addToAssignedArray(item)"
              matTooltip="{{ 'Assign.' }}" matTooltipClass="tooltip-custom">
              <mat-icon>add</mat-icon>
            </button>
            <h4 mat-line *ngIf="item.projectName">{{item.projectName}}</h4>
            <h4 mat-line *ngIf="item.firstname && item.lastname">{{item.firstname}} {{item.lastname}}</h4>
          </mat-list-item>
        </perfect-scrollbar>
      </div>
    </mat-list>
  </div>
  <!-- Assigned array block -->
  <div class="assignations_right mat-elevation-z4">
    <mat-list>
      <div class="assignations_right_heading flex flex--justify-center flex--align-center flex--space-between">
        <h2 mat-subheader class="flex--1 m-0">{{getPlaceholder('right')}}</h2>
        <mat-form-field appearance="outline" [color]="label === 'Users' ? 'warn' : 'accent'" class="flex--1">
          <input matInput [placeholder]="'Search in ' + getPlaceholder('right')"
            autocomplete="off" (keyup)="filtredAssignation($event.target.value)"
            [disabled]="assignationArray.length  === 0">

          <mat-icon matSuffix [color]="label === 'Users' ? 'warn' : 'accent'">search</mat-icon>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <span class="generic-msg" *ngIf="assignationArray.length  === 0 && label === 'Projects' ">
        {{'No assigned project(s) yet'}}
      </span>
      <span class="generic-msg" *ngIf="assignationArray.length  === 0 && label ==='Users' ">
        {{'No assigned user(s) yet'}}
      </span>
      <span class="generic-msg" *ngIf="noItemFoundOnAssigned">
        {{'No items found !'}}
      </span>
      <div *ngIf="assignationArray.length > 0">
        <perfect-scrollbar style="max-height: 244px;" class="scroll-container">
          <mat-list-item *ngFor="let item of filtredAssignationArray">
            <button mat-raised-button *ngIf="!isDetailsMode"
              [color]="item.firstname && item.lastname ? 'warn' : 'accent'" (click)="removeFromAssignedArray(item)"
              matTooltip="{{ 'Remove assignation.' }}" matTooltipClass="tooltip-custom">
              <mat-icon>remove</mat-icon>
            </button>
            <h4 mat-line *ngIf="item.projectName">{{item.projectName}}</h4>
            <h4 mat-line *ngIf="item.firstname && item.lastname">{{item.firstname}} {{item.lastname}}</h4>
          </mat-list-item>
        </perfect-scrollbar>
      </div>
    </mat-list>
  </div>
</div>
