@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

:host {
  .mat-dialog-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
  }

  .modal-right_actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-dialog-content {
    .form-user {
      &_inputs {
        width: 100%;
        flex: 0 0 calc(50% - 10px);

        mat-form-field {
          width: 100%;
        }
      }

      .file-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
      }
    }
  }

  mat-dialog-actions {
    justify-content: center;
  }
}
