<div class="modal-right">
  <h2 mat-dialog-title>
    <span *ngIf="isDetailsMode()">
      {{data.user.firstname}} details
    </span>
    <span *ngIf="isEditMode()">
      Edit {{data.user.firstname}} {{ data.user.lastname }} information
    </span>
    <span *ngIf="isAddMode()">
      Add new user
    </span>
    <div class="modal-right_actions">
      <div class="actions" *ngIf="isAddMode() || isEditMode() ">
        <button mat-raised-button color="accent" [disabled]="!userForm.valid" (click)="saveForm('add')"
          *ngIf="isAddMode()">Add</button>
        <button mat-raised-button color="accent" [disabled]="!userForm.valid" (click)="saveForm('edit')"
          *ngIf="isEditMode()">Save</button>
        <button mat-raised-button color="accent" *ngIf="isDetailsMode()">Close</button>
      </div>
      <button mat-icon-button *ngIf="isDetailsMode()" (click)="onEditClick()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </h2>
  <mat-dialog-content>
    <!-- Global informations block -->
    <form class="form-user flex" [formGroup]="userForm" id="form--validation">
      <div class="form-user_inputs">
        <h2 class="section-header section-header--accent">
          {{'Global Informations'}}
        </h2>
        <mat-form-field [color]="'warn'" appearance="outline">
          <mat-label>{{'First name'}}</mat-label>
          <input matInput autocomplete="on" placeholder="Enter first name" name="firstname"
            [ngModel]="getFirstName(data)" formControlName="firstname" [errorStateMatcher]="matcher">
          <mat-icon matSuffix>assignment_ind</mat-icon>
          <mat-error *ngIf="!userForm.hasError('required')">
            Please fill the firstname
          </mat-error>
        </mat-form-field>

        <mat-form-field [color]="'warn'" appearance="outline">
          <mat-label>{{'Last name'}}</mat-label>
          <input matInput autocomplete="on" placeholder="Enter last name" name="lastname" [ngModel]="getLastName(data)"
            [errorStateMatcher]="matcher" formControlName="lastname">
          <mat-icon matSuffix>assignment_ind</mat-icon>
          <mat-error *ngIf="!userForm.hasError('required')">
            Please fill the lastname
          </mat-error>
        </mat-form-field>

        <mat-form-field [color]="'warn'" appearance="outline">
          <mat-label>{{'Email'}}</mat-label>
          <input matInput autocomplete="on" placeholder="Enter email" name="email" [errorStateMatcher]="matcher"
            [ngModel]="getEmail(data)" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="!userForm.hasError('email') || !userForm.hasError('pattern')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="userForm.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field [color]="'warn'" appearance="outline" *ngIf="!isDetailsMode()">
          <mat-label>{{'Password'}}</mat-label>
          <input matInput placeholder="Enter password" [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher"
            formControlName="password" [ngModel]="isAddMode() ? '0000' : getPassword(data)">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="!userForm.hasError('required')">
            Please fill the password
          </mat-error>
        </mat-form-field>

        <mat-form-field [color]="'warn'" appearance="outline">
          <mat-label>{{'Role'}}</mat-label>
          <mat-select placeholder="Select a Role" *ngIf="rolesArray.length > 0" disableRipple name="role"
            [ngModel]="getUserType(data)" [errorStateMatcher]="matcher" formControlName="role">
            <mat-option [value]="role.id" *ngFor="let role of rolesArray">
              {{role.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!userForm.hasError('required')">
            Please fill the role
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Picture block -->
      <div class="form-user_picture flex--1 flex flex--justify-center flex--align-center">
        <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)"
          [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
          <div class="drop-container_inner">
            <img [src]="getImage(data)" alt="user profile" *ngIf="isEditMode() || isDetailsMode()">
            <span class="file-name" *ngIf="uploadedImage">{{uploadedImage}}</span>
            <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
              [uploadInput]="uploadInput" multiple formControlName="picture">
            <button type="button" class="start-upload-btn" (click)="startUpload()">
              Upload
            </button>
          </div>
          <mat-icon matSuffix *ngIf="isEditMode() || isAddMode()">add_a_photo</mat-icon>
        </div>
      </div>
    </form>
    <!-- Assignations block -->
    <h2 class="section-header section-header--accent">
      {{'Project assignation'}}
    </h2>
    <span *ngIf="!projects">
      {{'No projects available'}}
    </span>
    <app-dual-list-box *ngIf="projects" [isDetailsMode]="isDetailsMode()" [label]="'Projects'" [initArray]="projects"
      [assignationArray]="assignedProjects" (change)="AssignationChanged($event)">
    </app-dual-list-box>
  </mat-dialog-content>
</div>
