<mat-sidenav-container [hasBackdrop]="true" (backdropClick)="close()" class="container" style="background: transparent">
  <mat-sidenav disableClose #sidenav (keydown.escape)="close()" mode="side" class=" no-border mat-elevation-z6">
    <mat-toolbar color="primary" class="flex flex--align-center flex--space-between">
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list class="p-0">
      <a mat-list-item *ngIf="router.url.includes('backoffice')" class="mr-15" (click)="sidenav.close()"
        [routerLink]="'/frontoffice/boards'" title="{{'Go to Front office'}}">
        <mat-icon class="mr-5">view_column</mat-icon>
        <span class="label">{{'Front office'}}</span>

      </a>
      <a mat-list-item *ngIf="router.url.includes('frontoffice') && getUserRole() !== 'DEVELOPPER'" class="mr-15"
        (click)="sidenav.close()" [routerLink]="'/backoffice/dashboard'" title="{{'Go to Back office'}}">
        <mat-icon class="mr-5">dashboard</mat-icon>
        <span class="label">{{'Back office'}}</span>

      </a>

      <a mat-list-item title="{{'View log'}}" (click)="openActiveHistoryDialog(); sidenav.close()">
        <mat-icon class="mr-5">access_time</mat-icon>
        <span class="label">{{'View log'}}</span>

      </a>
      <a mat-list-item title="{{'Settigns'}}" (click)="openSettingsDialog(); sidenav.close()">
        <mat-icon class="mr-5">settings</mat-icon>
        <span class="label">{{'Settigns'}}</span>

      </a>
      <a mat-list-item title="{{'Export data'}}" (click)="openExportDataDialog();  sidenav.close()">
        <mat-icon class="mr-5">import_export</mat-icon>
        <span class="label">{{'Export data'}}</span>

      </a>
      <a mat-list-item (click)=" sidenav.close()" [routerLink]="'/login'" title="{{'Log Out'}}">
        <mat-icon class="mr-5">power_settings_new</mat-icon>
        <span class="label">{{'Log Out'}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="main-navigation" color="primary">
      <mat-toolbar-row class="mat-elevation-z6 p-0">
        <div class="navigation-top flex">
          <div class="flex flex--align-center flex--justify-left navigation-top_item">
            <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="p-15">{{getFullName()}}</span>
          </div>
          <div class="flex flex--align-center flex--justify-center flex--align-center navigation-top_item">
            <h1 class="app-title">{{'Task Tracker'}}</h1>
          </div>
          <div class="flex flex--align-center flex--justify-right flex--wrap navigation-top_item">
            <button class="mr-15" mat-icon-button (click)="openActiveHistoryDialog()"
              matTooltip="{{'View my history.'}}" matTooltipClass="tooltip-custom">
              <mat-icon [color]="viewActiveHistory ? 'grayLight' : ''">access_time</mat-icon>
            </button>
            <button mat-icon-button class="mr-15" (click)="openSettingsDialog()" matTooltip="{{'Display settings.'}}"
              matTooltipClass="tooltip-custom">
              <mat-icon class="mr-5" [color]="viewSettings ? 'grayLight' : ''">settings</mat-icon>
            </button>
            <button mat-icon-button class="mr-15" (click)="openExportDataDialog()" matTooltip="{{'Export history.'}}"
              matTooltipClass="tooltip-custom">
              <mat-icon class="mr-5" [color]="viewImport ? 'grayLight' : ''">import_export</mat-icon>
            </button>
            <button *ngIf="router.url.includes('backoffice')" class="mr-15" mat-icon-button
              [routerLink]="'/frontoffice/boards'" matTooltip="{{'Go to frontoffice.'}}"
              matTooltipClass="tooltip-custom">
              <mat-icon>view_column</mat-icon>
            </button>
            <button *ngIf="router.url.includes('frontoffice') && getUserRole() !== 'DEVELOPPER'" class="mr-15"
              mat-icon-button [routerLink]="'/backoffice/dashboard'" matTooltip="{{'Go to backoffice.'}}"
              matTooltipClass="tooltip-custom">
              <mat-icon>dashboard</mat-icon>
            </button>
            <button class="mr-15" mat-icon-button (click)="logout()" matTooltip="{{'Logout.'}}"
              matTooltipClass="tooltip-custom">
              <mat-icon>power_settings_new</mat-icon>
            </button>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="nav-container scrollable">
      <mat-toolbar color="primary" class="sub-nav" *ngIf="router.url.includes('backoffice')">
        <mat-toolbar-row class="p-0">
          <div fxLayout="row" fxLayoutAlign="center center" fxFill class="navigation-bottom">
            <button mat-button fxFlex="1 1 auto" fxFlexAlign="center" fxFill color="mat-primary"
              routerLink="/backoffice/dashboard" routerLinkActive="primary">
              <mat-icon class="mr-5">dashboard</mat-icon>
              <span class="label">{{'Dashboard'}}</span>
            </button>
            <button mat-button fxFlex="1 1 auto" fxFlexAlign="center" fxFill color="mat-primary"
              routerLink="/backoffice/users" routerLinkActive="primary">
              <mat-icon class="mr-5">supervisor_account</mat-icon>
              <span class="label">{{'Users'}}</span>
            </button>
            <button mat-button fxFlex="1 1 auto" fxFlexAlign="center" fxFill color="mat-primary"
              routerLink="/backoffice/projects" routerLinkActive="primary">
              <mat-icon class="mr-5">work</mat-icon>
              <span class="label">{{'Projects'}}</span>
            </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
