@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

::ng-deep {
  app-back-office {
    mat-toolbar {
      &.main-navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
      }

      &.sub-nav {
        position: fixed;
        top: 75px;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        z-index: 98;
      }
    }

    .nav-container.scrollable {
      padding-top: 140px;
    }
  }

  .mat-checkbox .mat-checkbox-frame {
    border-color: #fff;
  }
}
:host {
  display: block;

  mat-toolbar {
    mat-toolbar-row {
      &:first-child {
        z-index: 2;
      }

      button {
        border-radius: 0;

        &.primary {
          background: map-get($colors, warn);
          *,
          .label {
            color: map-get($colors, white) !important;
          }
        }
      }
      .navigation-top {
        width: 100%;
        height: 100%;
        *:not(mat-icon) {
          color: map-get($colors, white);
          font-size: $standardFontSize - 2;
          font-family: $globalFontFamily;
          font-weight: bold;
        }

        &_item {
          min-width: 270px;
          width: 100%;

          &:last-child {
            min-width: 370px;
            @include respond-to('small') {
              @include justify-content(space-between);
              width: 100%;
            }
          }

          &:not(:first-child) {
            @include respond-to('small') {
              display: none !important;
            }
          }

          @include respond-to('small') {
            margin: 10px 0;
          }

          ul {
            list-style: none;

            @include respond-to('small') {
              padding: 0 16px;
            }

            li {
              width: 35px;
              height: 35px;
              background-color: $accent;
              border-radius: 50%;
              margin-right: -10px;
              position: relative;
              z-index: 0;
              border: 2px solid #fff;
              cursor: pointer;
              @include prefix-transition(all, 0.5s, ease-in-out);
              &:hover {
                z-index: 999;
              }
            }
          }
        }
      }

      .navigation-bottom {
        .label {
          @include font($globalFontFamily, $standardFontSize, bold, map-get($colors, white));
        }
      }
    }
  }

  mat-sidenav-container {
    display: block;
    position: relative;
    overflow: hidden;

    mat-sidenav {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 0;
      background-color: map-get($colors, white) !important;
      width: 320px;
      min-height: 100%;
      height: auto !important;

      &.mat-drawer-end {
        right: 0;
        left: inherit;
      }

      mat-nav-list {
        a {
          height: 70px;
          text-decoration: none;
          &:hover {
            color: map-get($colors, primary);
          }
          .active {
            background-color: #ccc;
          }
        }
      }
    }
  }
}
