$RussianLang-path: "/assets/fonts/Russian Land.ttf";
$bgBodyPath: '/assets/imgs/polygonalBg.jpg';
$bgBodyPath2: '/assets/imgs/bg.jpg';

// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'scss/fonts.scss';
@import 'scss/variables.scss'; 
@import 'scss/themes.scss';

// Custom
@import 'scss/mixins.scss';
@import 'scss/icons.scss';
@import 'scss/helpers.scss';
@import 'scss/globals.scss'; 

@import 'scss/animations.scss';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import '~normalize.css/normalize.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@angular/material/theming';



// globals custom styles
@import 'scss/modals.scss';
@import 'scss/dropContainer.scss';

