<div class="tickets" *ngIf="filterdTickets">
  <mat-form-field appearance="outline" class="flex--1" color="warn" matTooltip="{{ 'Search ticket by label' }}"
    matTooltipClass="tooltip-custom">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search in tickets" (keyup)="searchTickets($event.target.value)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <span *ngIf="project.assignedTickets.length === 0">
    {{'No available tickets.'}}
  </span>
  <span *ngIf="noItemFound">
    {{'No items found.'}}
  </span>
  <div class="tickets_items mat-elevation-z2" *ngIf="filterdTickets.length > 0">
    <perfect-scrollbar style="height: 550px;padding: -15px;" [autoPropagation]="false">
      <div class="tickets_items_inner flex flex--wrap mt-15 mb-15">
        <mat-card (click)="openDetailsTickets(item)" [class.done]="item.status === 'DONE'" class="tickets_item flex--25"
          mat-ripple matTooltip="{{ 'View '+ item.reference+'-'+item.label +' details' }}"
          matTooltipClass="tooltip-custom" *ngFor="let item of filterdTickets"
          title="{{item.reference}} - {{item.label}}">
          <b>{{item.reference}} - </b> {{item.label}}
          <!-- Linear chart -->
          <ngx-charts-linear-gauge class="tickets_item_gauge" [view]="view" [scheme]="colorScheme"
            [value]="getPercentValue(item.time)" [min]="0" [max]="getPercentMax(item.time)"
            [units]="getPercentMax(item.time) + 'd'">
          </ngx-charts-linear-gauge>
          <div class="tickets_status--{{item.status}}" title="{{item.status}}">

          </div>
          <span class="tickets_item_date">
            {{item.creationDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}
          </span>
        </mat-card>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="mb-15 flex flex--justify-right" *ngIf="isEditMode()">
    <button mat-raised-button class="tickets_add-button" color="warn" (click)="openDialogTickets()">
      <mat-icon>add_circle</mat-icon>
      {{'Add ticket'}}
    </button>
  </div>
</div>
