@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

:host {
  display: block;
  margin: 0 auto;

  &.done {
    ngx-charts-chart::ng-deep {
      color: map-get($colors, white) !important;
      fill: map-get($colors, white) !important;
      *,
      .linear-gauge .units {
        color: map-get($colors, white) !important;
        fill: map-get($colors, white) !important;
      }
    }
  }

  .tickets {
    display: flex;
    flex-direction: column;

    &_button {
      display: flex;
      justify-content: flex-end;
    }

    &_items {
      margin: $base-space-unit + 1 0;
      background: rgba(114, 114, 114, 0.271);

      &_inner {
        padding: $base-space-unit;
      }
    }

    &_item {
      margin: 10px;
      min-height: 100px;
      position: relative;

      @include breakpoint(tablet-large) {
        flex: 0 0 calc(33.333% - 52px);
      }
      @include breakpoint(tablet-large-x) {
        flex: 0 0 calc(50% - 52px);
      }
      @include breakpoint(tablet-small) {
        flex: 0 0 calc(33.333% - 52px);
      }
      @include breakpoint(xs) {
        flex: 0 0 calc(50% - 52px);
      }

      &:hover {
        cursor: pointer;
      }

      span,
      .tickets_options {
        flex: 1;
      }

      &_date {
        position: absolute;
        bottom: 8px;
        right: 8px;
        color: $warn;
        font-size: 12px;
        font-weight: 700;
      }

      &_button {
        text-align: left;
        width: 300px;
        overflow: hidden;
      }

      &.done {
        background-color: map-get($colors, primary);
        color: map-get($colors, white) !important;
        fill: map-get($colors, white) !important;

        *,
        &::ng-deep .units,
        &::ng-deep .background-bar path {
          color: map-get($colors, white) !important;
          fill: map-get($colors, white) !important;
        }
      }
    }

    &_status {
      &--CANCELED,
      &--TODO,
      &--IN_PROGRESS,
      &--CODE_REVIEW,
      &--DONE {
        position: absolute;
        left: -15px;
        bottom: -15px;
        border-radius: 100%;
        width: 60px;
        height: 60px;
      }

      &--TODO {
        background-color: aqua;
      }

      &--CANCELED {
        background-color: red;
      }

      &--IN_PROGRESS {
        background-color: greenyellow;
      }

      &--CODE_REVIEW {
        background-color: darkgoldenrod;
      }

      &--DONE {
        background-color: deeppink;
      }
    }

    &_options {
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 999;

      button {
        box-shadow: none;
        border-radius: 0;
        &:not(:last-of-type) {
          border-right: 1px solid map-get($colors, white);
        }
      }
    }
  }
}

:host::ng-deep {
  .tickets {
    &_item {
      &_button {
        .mat-button-wrapper {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }
      }
    }
  }
}
