<div class="container">

  <div class="search-bar">
    <!-- Projects switcher -->
    <mat-form-field appearance="outline" [color]="'warn'" matTooltip="{{ 'Select a project' }}"
      matTooltipClass="tooltip-custom">
      <mat-label>Projects</mat-label>
      <mat-select [ngModel]="selectedProjectID" (selectionChange)="projectChanged($event.value)">
        <mat-option *ngFor="let proj of listProjects; let i=index" [(value)]="proj.id">{{ proj.projectName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="search-bar-user">
      <!-- Search block -->
      <mat-form-field appearance="outline" [color]="'warn'" matTooltip="{{ 'Search ticket' }}"
        matTooltipClass="tooltip-custom">
        <mat-label>Search</mat-label>
        <input matInput [placeholder]="'Search ticket'" autocomplete="on" (keyup)="onKey($event.target.value)">

        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- Users block -->
      <div class="users flex flex--justify-center flex--align-center">
        <span *ngFor="let user of listAssignedUsers; let i = index" class="users-item"
          matTooltip="{{ user.firstname }} {{ user.lastname }}" matTooltipClass="tooltip-custom">
          <img class="users-item-icon" src="{{user.image}}" alt="user prifil">
          <!-- <mat-icon class="users-item-icon user-{{i > 3  || i === 0 ? 3 : i }}-icon"></mat-icon> -->
        </span>
      </div>
    </div>
  </div>

  <perfect-scrollbar style="max-height: calc(100vh - 183px); margin-top: 10px;">
    <div class="headers">
      <mat-card class="example-card header-todo">
        TODO
        <span *ngIf="ticketsFound && ticketsFound.length > 0">
          ({{getArrayWithStatus(todoStatus).length}})
        </span>
        <span *ngIf="ticketsFound && ticketsFound.length === 0">
          (0)
        </span>
      </mat-card>
      <mat-card class="example-card header-inprogress">
        IN PROGRESS
        <span *ngIf="ticketsFound && ticketsFound.length > 0">
          ({{getArrayWithStatus(inProgress).length}})
        </span>
        <span *ngIf="ticketsFound && ticketsFound.length === 0">
          (0)
        </span>
      </mat-card>
      <mat-card class="example-card header-done">
        DONE
        <span *ngIf="ticketsFound && ticketsFound.length > 0">
          ({{getArrayWithStatus(doneStatus).length}})
        </span>
        <span *ngIf="ticketsFound && ticketsFound.length === 0">
          (0)
        </span>
      </mat-card>
      <mat-card class="example-card header-codereview">
        Review / Test
        <span *ngIf="ticketsFound && ticketsFound.length > 0">
          ({{getArrayWithStatus(codeReviewStatus).length}})
        </span>
        <span *ngIf="ticketsFound && ticketsFound.length === 0">
          (0)
        </span>
      </mat-card>
      <mat-card class="example-card header-canceled">
        CANCELED
        <span *ngIf="ticketsFound && ticketsFound.length > 0">
          ({{getArrayWithStatus(canceledStatus).length}})
        </span>
        <span *ngIf="ticketsFound && ticketsFound.length === 0">
          (0)
        </span>
      </mat-card>
    </div>
    <div class="cards" cdkDropListGroup>
      <!-- TODO BLOCK -->
      <div class="cards-item todo" cdkDropList #todooList="cdkDropList"
        [cdkDropListData]="getArrayWithStatus(todoStatus)"
        [cdkDropListConnectedTo]="[canceleddList, doneList, codeReviewList, progressList]"
        (cdkDropListDropped)="drop($event, 'TODO')">
        <div *ngIf="ticketsFound && ticketsFound.length > 0">
          <mat-card cdkDrag class="example-card  animated tada"
            *ngFor="let todoTicket of getArrayWithStatus(todoStatus)" [cdkDragData]="todoTicket"
            (click)="showDetails(todoTicket, 'todo' )">
            <div [class]="getTypeClass(todoTicket.type)? 'layer-'+getTypeClass(todoTicket.type) : null"></div>
            <span class="reference">{{ todoTicket.reference }}</span>

            <i class="importance-{{todoTicket.importance}}" title="{{todoTicket.importance}}">
              {{todoTicket.importanceValue + 1 }}
            </i>
            <span class="title"><b>Title:</b> {{ todoTicket.label }}</span>
            <p class="description" *ngIf="todoTicket.description">
              <b>Description:</b>
              <span>
                {{ todoTicket.description }}
              </span>
            </p>
          </mat-card>
        </div>
      </div>
      <!-- IN PROGRESS BLOCK -->
      <div class="cards-item inprogress" cdkDropList [cdkDropListData]="getArrayWithStatus(inProgress)"
        #progressList="cdkDropList" [cdkDropListConnectedTo]="[todooList, canceleddList, codeReviewList, doneList]"
        (cdkDropListDropped)="drop($event, 'IN_PROGRESS')">
        <div *ngIf="ticketsFound && ticketsFound.length > 0">
          <mat-card cdkDrag class="example-card  animated tada"
            *ngFor="let inProgressTicket of getArrayWithStatus(inProgress)" [cdkDragData]="inProgressTicket"
            (click)="showDetails(inProgressTicket, 'in_progress' )">
            <div [class]="getTypeClass(inProgressTicket.type)? 'layer-'+getTypeClass(inProgressTicket.type) : null">
            </div>
            <i class="importance-{{inProgressTicket.importance}}" title="{{inProgressTicket.importance}}">
              {{inProgressTicket.importanceValue + 1}}
            </i>
            <span class="reference">{{ inProgressTicket.reference }}</span>

            <span class="title"><b>Title:</b> {{ inProgressTicket.label }}</span>
            <p class="description" *ngIf="inProgressTicket.description">
              <b>Description:</b>
              <span>
                {{ inProgressTicket.description }}
              </span>
            </p>
          </mat-card>
        </div>
      </div>
      <!-- DONE BLOCK -->
      <div class="cards-item done" cdkDropList [cdkDropListData]="getArrayWithStatus(doneStatus)"
        #doneList="cdkDropList" [cdkDropListConnectedTo]="[todooList, canceleddList, progressList, codeReviewList]"
        (cdkDropListDropped)="drop($event, 'DONE')">
        <div *ngIf="ticketsFound && ticketsFound.length > 0">
          <mat-card cdkDrag class="example-card  animated tada"
            *ngFor="let doneTicket of getArrayWithStatus(doneStatus)" [cdkDragData]="doneTicket"
            (click)="showDetails(doneTicket, 'done' )">
            <div [class]="getTypeClass(doneTicket.type)? 'layer-'+getTypeClass(doneTicket.type) : null"></div>
            <span class="reference">{{ doneTicket.reference }}</span>

            <i class="importance-{{doneTicket.importance}}" title="{{doneTicket.importance}}">
              {{doneTicket.importanceValue + 1}}
            </i>
            <span class="title"><b>Title:</b> {{ doneTicket.label }}</span>
            <p class="description" *ngIf="doneTicket.description">
              <b>Description:</b>
              <span>
                {{ doneTicket.description }}
              </span>
            </p>
          </mat-card>
        </div>
      </div>
      <!-- CODE REVIEW BLOCK -->
      <div class="cards-item codereview" cdkDropList [cdkDropListData]="getArrayWithStatus(codeReviewStatus)"
        #codeReviewList="cdkDropList" [cdkDropListConnectedTo]="[canceleddList, doneList,progressList,  todooList]"
        (cdkDropListDropped)="drop($event, 'CODE_REVIEW')">
        <div *ngIf="ticketsFound && ticketsFound.length > 0">
          <mat-card cdkDrag class="example-card  animated tada"
            *ngFor="let codeReviewTicket of getArrayWithStatus(codeReviewStatus)" [cdkDragData]="codeReviewTicket"
            (click)="showDetails(codeReviewTicket, 'codereview' )">
            <div [class]="getTypeClass(codeReviewTicket.type)? 'layer-'+getTypeClass(codeReviewTicket.type) : null">
            </div>
            <span class="reference">{{ codeReviewTicket.reference }}</span>
            <i class="importance-{{codeReviewTicket.importance}}" title="{{codeReviewTicket.importance}}">
              {{codeReviewTicket.importanceValue + 1 }}
            </i>
            <span class="title"><b>Title:</b> {{ codeReviewTicket.label }}</span>
            <p class="description" *ngIf="codeReviewTicket.description">
              <b>Description:</b>
              <span>
                {{ codeReviewTicket.description }}
              </span>
            </p>
          </mat-card>
        </div>
      </div>
      <!-- CANCELED BLOCK -->
      <div class="cards-item canceled" cdkDropList #canceleddList="cdkDropList"
        [cdkDropListData]="getArrayWithStatus(canceledStatus)"
        [cdkDropListConnectedTo]="[todooList, doneList,progressList, codeReviewList]"
        (cdkDropListDropped)="drop($event, 'CANCELED')">
        <div *ngIf="ticketsFound && ticketsFound.length > 0">
          <mat-card cdkDrag class="example-card  animated tada" [class.canceledTicket.type]="canceledTicket.type"
            *ngFor="let canceledTicket of getArrayWithStatus(canceledStatus)" [cdkDragData]="canceledTicket"
            (click)="showDetails(canceledTicket, 'canceled' )">
            <div [class]="getTypeClass(canceledTicket.type)? 'layer-'+getTypeClass(canceledTicket.type) : null"></div>
            <span class="reference">{{ canceledTicket.reference }}</span>

            <i class="importance-{{canceledTicket.importance}}" title="{{canceledTicket.importance}}">
              {{canceledTicket.importanceValue + 1}}
            </i>
            <span class="title"> <b>Title:</b> {{ canceledTicket.label }}</span>
            <p class="description" *ngIf="canceledTicket.description">
              <b>Description:</b>
              <span>
                {{ canceledTicket.description }}
              </span>
            </p>
          </mat-card>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
