@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

:host::ng-deep {
  .container {
    .mat-toolbar {
      &-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .toolbar-buttons {
          display: flex;

          .back-button {
            background: map-get($colors, white);
            border-radius: 4px;

            .mat-button-wrapper {
              span {
                margin-right: 10px;
              }
            }

            .mat-icon {
              color: $primary;
            }
          }

          .add-ticket {
            &-button {
              margin-left: 30px;

              .add-ticket-text {
                margin-right: 15px;
              }
            }
          }
        }
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        margin-right: 20px;
      }

      .mat-mini-fab {
        &.mat-accent {
          background: map-get($colors, white);

          .mat-icon {
            color: map-get($colors, black);
          }
        }
      }
    }

    .headers {
      display: flex;
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      left: 0;

      .mat-card.header {
        &-codereview,
        &-done,
        &-inprogress,
        &-canceled,
        &-todo {
          margin: 0;
          height: auto !important;
          text-align: center;
          border-radius: 0;
          box-shadow: none;
          background: map-get($colors, warn);
          color: map-get($colors, white);
          flex: 20%;
          width: 20%;
          max-width: 20%;

          span {
            font-size: 12px;
          }

          &:not(:last-of-type):not(:nth-last-of-type(2))::after {
            background: white;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 1px;
          }

          // &:hover {
          //     background:  $primary;
          //     cursor: auto;
          // }
        }

        &-canceled {
          background: map-get($colors, map-get($colors, red));

          &:hover {
            background: map-get($colors, map-get($colors, red));
          }
        }
      }
    }

    .cards {
      display: flex;
      justify-content: space-evenly;
      min-height: 100vh;

      .reference {
        position: absolute;
        padding: 5px;
        color: map-get($colors, white);
        background: map-get($colors, primary);
        bottom: 0;
        left: 0;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      .cards-item {
        background: rgba(255, 127, 84, 0.28);
        position: relative;
        flex: 20%;
        width: 20%;
        max-width: 20%;
        padding-top: 50px;

        &:not(:last-of-type)::after {
          background: white;
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 1px;
        }

        .description {
          height: 50px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: block;
        }

        .title {
          height: 20px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: block;
          max-width: 92%;
        }

        .example-card {
          height: 80px;

          .layer-FEAT {
            position: absolute;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            z-index: 1;
            opacity: 1;
            top: 0;
            left: 0;
            border: 2px solid map-get($colors, primary);
            border-radius: 5px;
          }

          .layer-BUGFIX {
            position: absolute;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            z-index: 1;
            opacity: 1;
            top: 0;
            left: 0;
            border: 2px solid pink;
            border-radius: 5px;
          }

          .layer-IMPR {
            position: absolute;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            z-index: 1;
            opacity: 1;
            top: 0;
            left: 0;
            border: 2px solid lightblue;
            border-radius: 5px;
          }

          .layer-CHORE {
            position: absolute;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            z-index: 1;
            opacity: 1;
            top: 0;
            left: 0;
            border: 2px solid orange;
            border-radius: 5px;
          }

          .edit-button {
            background: map-get($colors, black);
          }

          .done-button {
            background: green;
          }

          .canceled-button {
            background: map-get($colors, red);
          }

          > div {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }

        &.canceled {
          background-color: rgba(255, 0, 0, 0.47843137254901963);

          .mat-card {
            .title,
            .description {
              text-decoration: line-through;
            }
          }
        }

        &.cdk-drop-list-receiving {
          &.canceled,
          &.inprogress,
          &.done,
          &.codereview,
          &.todo {
            background: lightgray !important;
            border-radius: 5px;
          }
        }

        &.cdk-drop-list-dragging {
          &.canceled,
          &.done,
          &.todo,
          &.inprogress,
          &.codereview {
            background: lightgoldenrodyellow !important;
            border-radius: 5px;
          }
        }

        .cdk-drag {
          &-preview {
            box-sizing: border-box;
            border-radius: 4px;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
          }

          &-placeholder {
            opacity: 0;
          }

          &-animating {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
          }
        }

        .mat-card {
          margin: 10px;
          box-shadow: -4px 4px 3px 0 #00000052;
          border-radius: 0;
          transition: all 0.3s ease-in-out;
          border-radius: 5px;

          &:hover {
            box-shadow: 0 0 0 0 #00000052;
          }

          &.cdk-drag-placeholder {
            cursor: move;
          }

          &:hover {
            cursor: pointer;
            background-color: rgba(255, 252, 252, 0.5);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    .search-bar {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0 10px;
      padding: 20px 0;

      .select-project {
        margin-right: 30px;

        .mat-select {
          margin-left: 10px;
          width: calc(100% - 10px);
        }
      }

      &-input {
        position: relative;

        .search-icon {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
          color: $warn;
        }

        .mat-input-element {
          margin-left: 10px;
          width: calc(100% - 10px);
        }
      }

      .mat-form-field {
        &-wrapper {
          padding-bottom: 0;

          .mat-form-field {
            &-underline {
              display: none;
            }

            &-flex {
              .mat-form-field-infix {
                // .mat-form-field-label-wrapper {
                //     top: -.64375em;
                // }

                // .mat-select-arrow {
                //     color:  $accent;
                // }

                // .mat-form-field-label {
                //     margin-left: 15px;
                // }
              }
            }
          }
        }

        &-should-float {
          .mat-form-field-flex {
            .mat-form-field-infix {
              .mat-form-field-label-wrapper {
                top: -0.84375em;
              }

              .mat-form-field-label {
                margin-left: 0;
              }
            }
          }
        }
      }

      .users {
        display: flex;
        margin-left: 25px;
        margin-right: 15px;

        .user-1-icon {
          background: url('/../assets/imgs/user-1.png') no-repeat;
          background-size: 100%;
          background-position: center center;
        }
        .user-2-icon {
          background: url('/../assets/imgs/user-2.png') no-repeat;
          background-size: 100%;
          background-position: center center;
        }
        .user-3-icon {
          background: url('/../assets/imgs/user-3.png') no-repeat;
          background-size: 100%;
          background-position: center center;
        }
        .user-4-icon {
          background: url('/../assets/imgs/user-3.png') no-repeat;
          background-size: 100%;
          background-position: center center;
        }

        &-item {
          position: relative;
          margin: 0 -5px;
          transition: all ease-in-out 0.3s;

          &:hover {
            z-index: 9;
          }

          &-icon {
            background-color: map-get($colors, white);
            border-radius: 100%;
            border: 2px solid map-get($colors, warn);
            cursor: pointer;
            display: block;
            height: 40px;
            width: 40px;
            text-align: center;
          }
        }
      }

      &-user {
        display: flex;
      }
    }
  }

  //  Custom scrollbar width
  .ps--active-x > .ps__rail-x,
  .ps--active-y > .ps__rail-y {
    background: transparent !important;
  }

  perfect-scrollbar > .ps.ps--active-y > .ps__rail-y:hover,
  perfect-scrollbar > .ps.ps--active-y > .ps__rail-y.ps--clicking,
  .ps__rail-y:hover > .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y.ps--clicking .ps__thumb-y {
    width: 10px !important;
  }
}

//  Global styles
.description {
  height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.title {
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  max-width: 92%;
}

.example-card:not(:first-of-type) {
  height: 80px !important;
}

.importance {
  &-minimal,
  &-high,
  &-average,
  &-critical {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 5px;
    top: 5px;
    border-radius: 100%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: map-get($colors, white);
    font-weight: bold;
  }

  &-minimal {
    background-color: lightblue;
  }

  &-high {
    background-color: orange;
  }

  &-average {
    background-color: peru;
  }

  &-critical {
    background-color: map-get($colors, red);
  }
}
