<h2
mat-dialog-title
class="flex flex--space-between flex--align-center pt-5 mb-30">
<span class="ml-15" *ngIf="data.myData && data.myData.lastname">
  {{'Delete user confirmation'}}
</span>
<span class="ml-15" *ngIf="data.myData && data.myData.projectName">
  {{'Delete project confirmation'}}
</span>
<span class="ml-15" *ngIf="data.ticket && data.ticket.label">
  {{'Delete Ticket confirmation'}}
</span>

<button mat-icon-button cdkFocusInitial mat-dialog-close class="mr-15">
  <mat-icon>close</mat-icon>
</button>
</h2>

<div mat-dialog-content class="flex flex--justify-center m-0">
  <p *ngIf="data.myData && data.myData.firstname && data.myData.lastname">
    {{'Are you sure you want to delete '}}
    <span>{{data.myData.firstname}} {{data.myData.lastname}}</span>
  </p>
  <p *ngIf="data.myData && data.myData.projectName">{{'Are you sure you want to delete'}}
    <span>
      {{data.myData.projectName}}
    </span>
    {{'project ?'}}
  </p>
  <p *ngIf="data.ticket && data.ticket.label">{{'Are you sure you want to delete'}}
    <span>
      {{data.ticket.label}}
    </span>
   {{'ticket ?'}}
  </p>

</div>

<div mat-dialog-actions class="flex flex--justify-center p-0 m-0">
  <button
  *ngIf="data.myData && data.myData.firstname"
  (click)="deleteItem(data.myData)"
  mat-raised-button
  color="accent"
  [mat-dialog-close]="data.isDeleted">
  {{'Delete'}}</button>
  <button
  *ngIf="data.myData && data.myData.projectName"
  (click)="deleteItem(data.myData)"
  mat-raised-button
  color="warn">
  {{'Delete'}}</button>
  <button
  *ngIf="data.ticket && data.ticket.label"
  (click)="deleteItem(data.ticket)"
  mat-raised-button
  color="primary">
  {{'Delete'}}</button>
</div>
