@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

:host {
  display: block;
 .mat-dialog-content {
   padding: 0 $base-space-unit;
   span {
     font-weight: bold
   }
 }
}
