<h2 mat-dialog-title class="flex flex--space-between flex--align-center pt-5 mb-30">
  <span class="ml-15">
    {{'Export History'}}
  </span>
  <button mat-icon-button mat-dialog-close class="mr-15">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<div mat-dialog-content class="p-0 m-0 mr-15 ml-15">
  <form [formGroup]="exportForm" class="form--validation">
    <!-- Project -->
    <mat-form-field [color]="'warn'" appearance="outline">
      <mat-label>Project</mat-label>
      <mat-select placeholder="Choose a project" disableRipple name="project" formControlName="project">
        <mat-option [value]="project.projectName" *ngFor="let project of projects">
          {{project.projectName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!exportForm.hasError('required')">
        Please choose a project
      </mat-error>
    </mat-form-field>

    <!-- Date -->
    <mat-form-field [color]="'warn'" appearance="outline" class="mb-10">
      <mat-label>From</mat-label>
      <input matInput [matDatepicker]="startDate" placeholder="Start date" name="startDate" formControlName="startDate"
        (focus)="startDate.open()">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
      <mat-error *ngIf="fieldHasError('startDate', 'required')">
        Start date is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field [color]="'warn'" appearance="outline" class="mb-10">
      <mat-label>To</mat-label>
      <input matInput [matDatepicker]="endDate" placeholder="End date" name="endDate" formControlName="endDate"
        (focus)="endDate.open()" [min]="exportForm.value.startDate">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
      <mat-error *ngIf="fieldHasError('endDate', 'required')">
        End date is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="isEndDateValid()">
        End date must be <strong>Greater</strong> than Start date
      </mat-error>
    </mat-form-field>
  </form>

  <!-- GENERATED HTML -->
  <div *ngIf="stringHTML" [innerHTML]="stringHTML" #printContainer id="contentToConvert"
    class="flex flex--1 flex-column"></div>
</div>
<div mat-dialog-actions class="flex flex--justify-center p-0 m-0">
  <button mat-raised-button [disabled]="!exportForm.valid" color="warn" (click)="generate()">
    Generate
  </button>
  <button mat-raised-button color="warn" *ngIf="isGenerated" [disabled]="!exportForm.valid" (click)="saveExportForm()">
    Export
  </button>
</div>
