:host::ng-deep {
  .mat-form-field {
    width: 100%;
    cursor: pointer;
  }

  #print-line-graph {
    padding: 15px;
    display: none;
  }

  .ticketItem {
    flex: 1;
    margin-bottom: 15px;
    border: 1px solid #0000004d;
    margin: 10px;
    border-radius: 5px;
    border-collapse: collapse;
    border-style: hidden;
    margin-bottom: 15px;
  }

  .userId {
    flex: 0 0 calc(20% - 20px);
    min-width: calc(20% - 20px);
  }

  .description {
    flex: 0 0 calc(40% - 20px);
    min-width: calc(40% - 20px);
  }
  .editionDate {
    flex: 0 0 calc(20% - 20px);
    min-width: calc(20% - 20px);
  }
  .status {
    flex: 0 0 calc(20% - 20px);
    min-width: calc(20% - 20px);
  }

  .ticketItem_ref {
    margin-top: 15px;
    display: block;
    padding: 15px;
    color: white;
    font-weight: bold;
    background: #5f7c8b;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .ticketItem_header {
    color: white;
    font-weight: bold;
    background: #5f7c8b;
    border-top: 1px solid #ffffff4d;
  }

  .ticketItem_updates {
    border: 1px solid #8ea4ae;
    border-top: none;
  }

  .ticketItem_updates_item,
  .ticketItem_header_item {
    padding: 10px;
  }

  .ticketItem_updates_item:not(:last-child) {
    border-right: 1px solid #0000004d;
  }

  .ticketItem_header_item:not(:last-child) {
    border-right: 1px solid #ffffff4d;
  }
}
