<h2 mat-dialog-title class="flex flex--space-between flex--align-center pt-5 mb-15">
  <span class="ml-15">
    {{'Settings'}}
  </span>
  <button mat-icon-button cdkFocusInitial mat-dialog-close class="mr-15">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<div mat-dialog-content class="flex flex--justify-center p-0 m-0">
  <p>it working!!</p>
</div>
<div mat-dialog-actions class="flex flex--justify-center p-0 m-0">
  <button mat-raised-button color="accent">Save</button>
</div>
