
.drop-container {
  width: 200px;
  height: 200px;
  position: relative;

  &_inner {
    background: map-get($colors, grayLight);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
    border-radius: 50%;
    overflow: hidden;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
    line-height: 200px;
  }

  input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 999;
    
    &:hover {
      cursor: pointer;
    }
  }
  
  button {
    display: none;
  }
  
  mat-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    background: map-get($colors, black);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: map-get($colors, white);
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  &.is-drop-over {
    transition: all .3s ease-in-out;
    background:map-get($colors, greyLight);
  }
}

mat-card.animated {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

