// Body global styles
body {
  margin: 0;
  background-position: center center;
  min-height: 100vh;
  background-image: url($bgBodyPath);
  background-size: cover;
  background-repeat: no-repeat;
    // All texts styles
  * {
    font-size: $standardFontSize;
    font-family: $globalFontFamily;
  }


  &::after {
    content: 'TASK TRACKER';
    font-family: "RussianLand";
    font-size: 66px;
    width: 160PX;
    line-height: 90%;
    font-weight: normal !important;
    position: absolute;
    top: 90vh;
    right: 0%;
    transform: translate(0, -50%);
    opacity: .2;
    color: map-get($colors, primary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Sections headers
.section-header {

  @include font($globalFontFamily, $standardFontSize + 12, bold, false);
  position: relative;
  &--warn {
    color: map-get($colors, warn);
  }


  &--big-title {
    color: map-get($colors, primary);
    @include font($globalFontFamily, 28px, bold, false);
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  &--accent {
    color: map-get($colors, accent);
  }

  &--primary {
    color: map-get($colors, primary);
  }

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: grey;
    opacity: 0.3;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

// Generic messages
.generic{
  &-msg {
    @include font($globalFontFamily, 12px, 700, map-get($colors, primary));
    padding: $base-space-unit;
    display: block;
  }

  &-error {
    @include font($globalFontFamily, 12px, 700, map-get($colors, red));
    padding: $base-space-unit;
    display: block;
  }
}

// Infobulles styles
.log-work-tooltip{
  background-color: map-get($colors, warn);
  font-size: 14px;
}

.w-tooltip {
  color: map-get($colors, primary);

  cursor: pointer;
  &:hover {
    text-decoration: underline;
    opacity: 0.8;
    transition: all .2s ease-in-out;
    color: $warn;
  }
}

.tooltip-custom {
  margin-top: 0 !important;
}

// Button toggle group styles
.mat-button-toggle-disabled.mat-button-toggle-checked,
.mat-button-toggle-checked {
  background-color: map-get($colors, primary);
  * {
    color: map-get($colors, white);
  }
}

/* GLOBAL DISABLED ITEMS STYLES */
.mat-select-disabled .mat-select-value,
.mat-input-element:disabled {
  color: map-get($colors, black)
}

/* App Titile */
.app-title {
  font-family: $RussianLand !important;
  font-size: 55px !important;
  font-weight : normal  !important;
  height: 42px;
  display: flex;
  align-items: flex-end;
}

// Dialog
.mat-dialog-content {
  max-height: 100vh !important;
}
