.flex {
  @include flexbox;
  @include flex-direction(row);
  
  &-column {
    @include flex-direction(column);
  }
  &--center {
    @include align-items(center);
  }
  &--wrap {
    @include flex-wrap(wrap);
  }
  
  &--align {
    &-center {
      @include align-items(center);
    }
    &-left {
      @include align-items(flex-start);
    }
    &-right {
      @include align-items(flex-end);
    }
  }

  &--justify {
    &-center {
      @include justify-content(center);
    }
    &-left {
      @include justify-content(flex-start);
    }
    &-right {
      @include justify-content(flex-end);
    }
  }

  &--space-between {
    @include justify-content(space-between);
  }

  &--space-around {
    @include justify-content(space-around);
  }
  
  &--start-w-space {
    @include justify-content(flex-start);
  }

  &--1 {
    flex: 1;
  }

  &--0 {
    flex: 0;
  }

  &--25 {
    flex: 0 0 calc(25% - 52px);
  }
  &--33 {
    flex: 0 0 calc(33.333% - 52px);
  }
}

// Spacementy helpers
.page {
  padding: 5px;
  display: block;
  height: calc(100vh - 135px);
  
  @include respond-to('small') {
    padding: 15px;
    height: 100vh;
  }
}

// text Colors
.accent-color {
  color: $accent !important;
}

// text Colors
.priamry-color {
  color:$primary !important;
}

// text Colors
.warn-color {
  color: $warn !important;
}

.img-circle {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;

  &-small {
    width: 32px;
    height: 32px;
  }
  &-medium {
    width: 48px;
    height: 48px;
  }
  &-large {
    width: 64px;
    height: 64px;
  }
}

/* Margins helpers */

.m {
  &-0 {
    margin: 0!important
  }
  &-5 {
    margin: $base-space-unit!important
  }
  &-15 {
    margin:  $base-space-unit + 10px!important
  }
  &-30 {
    margin: $base-space-unit + 25px!important
  }
}

/* Top */

.mt {
  &-0 {
    margin-top: 0!important
  }
  &-5 {
    margin-top: $base-space-unit!important
  }
  &-15 {
    margin-top: $base-space-unit + 10px!important
  }
  &-30 {
    margin-top: $base-space-unit + 25px!important
  }
}

/* Bottom */

.mb {
  &-0 {
    margin-bottom: 0!important
  }
  &-5 {
    margin-bottom: $base-space-unit!important
  }
  &-15 {
    margin-bottom: $base-space-unit + 10px!important
  }
  &-30 {
    margin-bottom: $base-space-unit + 25px!important
  }
}

/* Left */

.ml {
  &-0 {
    margin-left: 0!important
  }
  &-5 {
    margin-left: $base-space-unit!important
  }
  &-15 {
    margin-left: $base-space-unit + 10px!important
  }
  &-30 {
    margin-left: $base-space-unit + 25px!important
  }
}

/* Right */

.mr {
  &-0 {
    margin-right: 0!important
  }
  &-5 {
    margin-right: $base-space-unit!important
  }
  &-15 {
    margin-right: $base-space-unit + 10px!important
  }
  &-30 {
    margin-right: $base-space-unit + 25px!important
  }
}
/* Paddings helpers */

.p {
  &-0 {
    padding: 0!important
  }
  &-5 {
    padding: $base-space-unit!important
  }
  &-15 {
    padding:  $base-space-unit + 10px!important
  }
  &-30 {
    padding: $base-space-unit + 25px!important
  }
}

/* Top */

.pt {
  &-0 {
    padding-top: 0!important
  }
  &-5 {
    padding-top: $base-space-unit!important
  }
  &-15 {
    padding-top: $base-space-unit + 10px!important
  }
  &-30 {
    padding-top: $base-space-unit + 25px!important
  }
}

/* Bottom */

.pb {
  &-0 {
    padding-bottom: 0!important
  }
  &-5 {
    padding-bottom: $base-space-unit!important
  }
  &-15 {
    padding-bottom: $base-space-unit + 10px!important
  }
  &-30 {
    padding-bottom: $base-space-unit + 25px!important
  }
}

/* Left */

.pl {
  &-0 {
    padding-left: 0!important
  }
  &-5 {
    padding-left: $base-space-unit!important
  }
  &-15 {
    padding-left: $base-space-unit + 10px!important
  }
  &-30 {
    padding-left: $base-space-unit + 25px!important
  }
}

/* Right */

.pr {
  &-0 {
    padding-right: 0!important
  }
  &-5 {
    padding-right: $base-space-unit!important
  }
  &-15 {
    padding-right: $base-space-unit + 10px!important
  }
  &-30 {
    padding-right: $base-space-unit + 25px!important
  }
}

// No border hepler
.no-border {
  border: none !important;
}




