
  @mixin ie() {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      @content;
    }
  }

  // Mixin for fonts
  @mixin font($family: false, $size: false, $weight: false,$color: false, $lh: false, $align: false) {
    @if $family {
      font-family: $family;
    }
    @if $color {
      color: $color;
    }
    @if $size {
      font-size: $size;
    }
    @if $weight {
      font-weight: $weight;
    }
    @if $lh {
      line-height: $lh;
    }
    @if $align {
      text-align: $align;
    }
  }


/* Fonts styles  */
// @mixin font($font-family , $font-size, $font-weight, $color) {
//   font-family: $font-family !important;
//   font-size: $font-size !important;
//   font-weight: $font-weight !important;
//   color: $color !important;
// }


  // Mixin for transitions
  @mixin ease-in-out() {
    transition: all .3s ease-in-out;
  }

  //Mixin for gradient effect
  @mixin gradient($direction,$firstColor, $secondColor) {
    background: linear-gradient(to $direction, $firstColor, $secondColor);
    transition: background .3s ease-in-out;

  }

  // Font Face
  // =============================================================================
  // String Replace
  // =============================================================================

  @function str-replace($string, $search, $replace: “”) {
    $index: str-index($string, $search);

    @if $index {
      @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
  }

  // =============================================================================
  // Font Face
  // =============================================================================

  @mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
      eot: "?",
      svg: "#" + str-replace($name, ” “, “_”)
    );

    $formats: (
      otf: “opentype”,
      ttf: “truetype”
    );

    @each $ext in $exts {
      $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
      $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
      $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
      font-family: quote($name);
      font-style: $style;
      font-weight: $weight;
      src: $src;
    }
  }


  // Prefix mixins
  // =============
  //
  // A set of SASS mixins for abstracting vendor prefixes.

  @mixin background-size($parameters) {
    -webkit-background-size : $parameters;
    -moz-background-size    : $parameters;
    -o-background-size      : $parameters;
    background-size         : $parameters;
  }

  @mixin prefix-background-clip($parameters) {
    -webkit-background-clip : $parameters;
    -moz-background-clip    : $parameters;
    -ms-background-clip     : $parameters;
    background-clip         : $parameters;
  }

  @mixin prefix-transition($parameters...) {
    -webkit-transition : $parameters;
    -moz-transition    : $parameters;
    -ms-transition     : $parameters;
    transition         : $parameters;
  }

  @mixin prefix-perspective($parameters) {
    -webkit-perspective : $parameters;
    -moz-perspective    : $parameters;
    -ms-perspective     : $parameters;
    perspective         : $parameters;
  }

  @mixin prefix-transition-delay($parameters) {
    -webkit-transition-delay : $parameters;
    -moz-transition-delay    : $parameters;
    -ms-transition-delay     : $parameters;
    transition-delay         : $parameters;
  }

  @mixin prefix-transform($parameters) {
    -webkit-transform : $parameters;
    -moz-transform    : $parameters;
    -ms-transform     : $parameters;
    transform         : $parameters;
  }

  @mixin prefix-transform-origin($parameters) {
    -webkit-transform-origin : $parameters;
    -moz-transform-origin    : $parameters;
    -ms-transform-origin     : $parameters;
    transform-origin         : $parameters;
  }

  @mixin prefix-animation($parameters) {
    -webkit-animation : $parameters;
    -moz-animation    : $parameters;
    -ms-animation     : $parameters;
    animation         : $parameters;
  }

  @mixin prefix-animation-delay($parameters) {
    -webkit-animation-delay : $parameters;
    -moz-animation-delay    : $parameters;
    -ms-animation-delay     : $parameters;
    animation-delay         : $parameters;
  }

  @mixin prefix-animation-fill-mode($parameters) {
    -webkit-animation-fill-mode : $parameters;
    -moz-animation-fill-mode    : $parameters;
    -ms-animation-fill-mode     : $parameters;
    animation-fill-mode         : $parameters;
  }

  @mixin prefix-animation-play-state($parameters) {
    -webkit-animation-play-state : $parameters;
    -moz-animation-play-state    : $parameters;
    -ms-animation-play-state     : $parameters;
    animation-play-state         : $parameters;
  }

  @mixin prefix-user-select($parameters) {
    -webkit-user-select : $parameters;
    -moz-user-select    : $parameters;
    user-select         : $parameters;
  }

  @mixin prefix-filter($parameters) {
    -webkit-filter : $parameters;
    -moz-filter    : $parameters;
    -ms-filter     : $parameters;
    filter         : $parameters;
  }

  // --------------------------------------------------
  // Flexbox SASS mixins
  // The spec: http://www.w3.org/TR/css3-flexbox
  // --------------------------------------------------

  // Flexbox display
  @mixin flexbox() {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
  }

  // The ‘flex’ shorthand
  // - applies to: flex items
  // <positive-number>, initial, auto, or none
  @mixin flex($values) {
    -webkit-box-flex: $values !important;
       -moz-box-flex: $values !important;
        -webkit-flex: $values !important;
          -ms-flex: $values !important;
              flex: $values !important;
  }

  // Flex Flow Direction
  // - applies to: flex containers
  // row | row-reverse | column | column-reverse
  @mixin flex-direction($direction) {
    -webkit-flex-direction: $direction !important;
       -moz-flex-direction: $direction !important;
        -ms-flex-direction: $direction !important;
            flex-direction: $direction !important;
  }

  // Flex Line Wrapping
  // - applies to: flex containers
  // nowrap | wrap | wrap-reverse
  @mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap !important;
       -moz-flex-wrap: $wrap !important;
        -ms-flex-wrap: $wrap !important;
            flex-wrap: $wrap !important;
  }

  // Flex Direction and Wrap
  // - applies to: flex containers
  // <flex-direction> || <flex-wrap>
  @mixin flex-flow($flow) {
    -webkit-flex-flow: $flow !important;
       -moz-flex-flow: $flow !important;
        -ms-flex-flow: $flow !important;
            flex-flow: $flow !important;
  }

  // Display Order
  // - applies to: flex items
  // <integer>
  @mixin order($val) {
    -webkit-box-ordinal-group: $val !important;
       -moz-box-ordinal-group: $val !important;
             -ms-flex-order: $val !important;
              -webkit-order: $val !important;
                  order: $val !important;
  }

  // Flex grow factor
  // - applies to: flex items
  // <number>
  @mixin flex-grow($grow) {
    -webkit-flex-grow: $grow !important;
       -moz-flex-grow: $grow !important;
        -ms-flex-grow: $grow !important;
            flex-grow: $grow !important;
  }

  // Flex shrink
  // - applies to: flex item shrink factor
  // <number>
  @mixin flex-shrink($shrink) {
    -webkit-flex-shrink: $shrink !important;
       -moz-flex-shrink: $shrink !important;
        -ms-flex-shrink: $shrink !important;
            flex-shrink: $shrink !important;
  }

  // Flex basis
  // - the initial main size of the flex item
  // - applies to: flex itemsnitial main size of the flex item
  // <width>
  @mixin flex-basis($width) {
    -webkit-flex-basis: $width !important;
       -moz-flex-basis: $width !important;
        -ms-flex-basis: $width !important;
            flex-basis: $width !important;
  }

  // Axis Alignment
  // - applies to: flex containers
  // flex-start | flex-end | center | space-between | space-around
  @mixin justify-content($justify) {
    -webkit-justify-content: $justify !important;
       -moz-justify-content: $justify !important;
        -ms-justify-content: $justify !important;
            justify-content: $justify !important;
              -ms-flex-pack: $justify !important;
  }

  // Packing Flex Lines
  // - applies to: multi-line flex containers
  // flex-start | flex-end | center | space-between | space-around | stretch
  @mixin align-content($align) {
    -webkit-align-content: $align !important;
       -moz-align-content: $align !important;
        -ms-align-content: $align !important;
            align-content: $align !important;
  }

  // Cross-axis Alignment
  // - applies to: flex containers
  // flex-start | flex-end | center | baseline | stretch
  @mixin align-items($align) {
    -webkit-align-items: $align !important;
       -moz-align-items: $align !important;
        -ms-align-items: $align !important;
            align-items: $align !important;
  }

  // Cross-axis Alignment
  // - applies to: flex items
  // auto | flex-start | flex-end | center | baseline | stretch
  @mixin align-self($align) {
    -webkit-align-self: $align !important;
       -moz-align-self: $align !important;
        -ms-align-self: $align !important;
            align-self: $align !important;
  }

/* Responsive mixins */

/// Mixin to manage responsive breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Mixin for breakpoints

@mixin breakpoint($class) {
  @if $class == xs {
  @media (max-width: 624px) { @content; }
  } @else if $class == tablet-small {
  @media (max-width: 812px) { @content; }
  } @else if $class == sm {
  @media (min-width: 768px) { @content; }
  } @else if $class == md {
  @media (min-width: 992px) { @content; }
  } @else if $class == lg {
  @media (min-width: 1100px) { @content; }
  } @else if $class == tablet {
  @media (max-width: $medium) { @content; }
  } @else if $class == tablet-large {
  @media (min-width: 1277px) and (max-width: 1622px) { @content; }
  } @else if $class == tablet-large-x {
  @media (min-width: 1101px) and (max-width: 1277px)  { @content; }
  }@else if $class == phone {
  @media (max-width: $phone) { @content; }
  } @else if $class == phone-small {
  @media (max-width: $phone-small) { @content; }
  } @else if $class == desktop {
  @media (min-width: $desktop) { @content; }
  } @else {
  @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

