@import '~@angular/material/theming';
/* Modals styles */

.modal-right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  mat-form-field {
    margin-bottom: 10px
  }
  .mat-dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  mat-dialog-content {
    max-height: 100vh;
    flex: 2;
  }
}

.user-add-modal,
.ticket-add-modal,
.project-add-modal,
.export-data
{
  max-width: 100vw!important;

  mat-dialog-container {
    border-radius: 0;
    padding: 0;

    .mat-dialog-title,
    mat-dialog-actions {
      padding: $base-space-unit + 10px;
      margin: 0;
      color: map-get($colors, white);
    }

    mat-dialog-content {
      padding: $base-space-unit;
      margin: 0;
      background-position: center center;
    }
  }
}
.delete-confirmation
{
  max-width: 100vw!important;

  mat-dialog-container {
    padding: 0;

    .mat-dialog-title,
    mat-dialog-actions {
      padding: $base-space-unit + 10px;
      margin: 0;
      color: map-get($colors, white);
    }

    mat-dialog-content {
      padding: $base-space-unit;
      margin: 0;
      background-position: center center;
    }
  }
}

.active-history {
  mat-dialog-container {
    .mat-dialog-title{
      &:hover {
        cursor: pointer;
      }
  }
  }
}


.log-work,
.ticket-history,
.ticket-add-modal {
  mat-dialog-container {
    mat-dialog-actions,
    .mat-dialog-title {
      background-color: $primary;
    }
  }
}

.user-add-modal,
.settings {
  mat-dialog-container {
    mat-dialog-actions,
    .mat-dialog-title {
      background-color: $accent;
    }
  }
}

.export-data,
.project-add-modal,
.active-history {
  mat-dialog-container {
    mat-dialog-actions,
    .mat-dialog-title {
      background-color: $warn;
    }
  }
}

.delete-confirmation,
.log-work,
.settings,
.active-history,
.ticket-history,
.export-data {
  mat-dialog-container {
    padding: 0;
    .mat-dialog-title{
      background-color: $primary;
      padding: $base-space-unit + 5px 0;
      color: map-get($colors , white)
    }
  }
}

.cdk-global-overlay-wrapper {
  -webkit-animation: fade-in-right .4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-right .4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
