// THEME 1 STYLES
$mat-dark: (
  100:rgba(0, 0, 0, 0.62),
  contrast: (
    50:rgba(0, 0, 0, 0.62),
    100:rgba(0, 0, 0, 0.62),
    200:rgba(0, 0, 0, 0.62),
    300:rgba(0, 0, 0, 0.62),
    400:rgba(0, 0, 0, 0.62),
    500:rgba(0, 0, 0, 0.62),
    600:rgba(0, 0, 0, 0.62),
    700:rgba(0, 0, 0, 0.62),
    800:rgba(0, 0, 0, 0.62),
    900:rgba(0, 0, 0, 0.62),
    A100:rgba(0, 0, 0, 0.62),
    A200:rgba(0, 0, 0, 0.62),
    A400:rgba(0, 0, 0, 0.62),
    A700:rgba(0, 0, 0, 0.62),
  )
);

$mat-smile-orange: (
  100:#FF8054,
  contrast: (
    50:#FF8054,
    100:#FF8054,
    200:#FF8054,
    300:#FF8054,
    400:#FF8054,
    500:#FF8054,
    600:#FF8054,
    700:#FF8054,
    800:#FF8054,
    900:#FF8054,
    A100:#FF8054,
    A200:#FF8054,
    A400:#FF8054,
    A700:#FF8054,
  )
);

$mat-smile-blue: (
  100:#3B80FF,
  contrast: (
    50:#3B80FF,
    100:#3B80FF,
    200:#3B80FF,
    300:#3B80FF,
    400:#3B80FF,
    500:#3B80FF,
    600:#3B80FF,
    700:#3B80FF,
    800:#3B80FF,
    900:#3B80FF,
    A100:#3B80FF,
    A200:#3B80FF,
    A400:#3B80FF,
    A700:#3B80FF,
  )
);

$app-primary: mat-palette($mat-smile-blue, 100);
$app-accent:  mat-palette($mat-smile-orange, 100);
$app-warn:    mat-palette($mat-smile-orange, 100);

// Colors
$colors: (
  primary: mat-color($app-primary),
  warn: mat-color($app-warn),
  accent: mat-color($app-accent),
  white: #fff,
  black: #000,
  red: red,
  grayLight: #eee,
  greyLight: #dfe2ef7a
);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

.theme-1 {
  body {
    background-image: url($bgBodyPath2);
    overflow: hidden;
    &::before {
      content: '';
      background: map-get($colors, white);
      opacity: 0.9;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  .ngx-datatable.material {
    background: rgba(255, 255, 255, 0.78) !important;
  }

  button.mat-raised-button.mat-warn,
  button.mat-raised-button.mat-primary,
  button.mat-raised-button.mat-accent {
    color: map-get($colors, white);
  }

  .mat-toolbar.mat-primary {
    color: map-get($colors, white) !important;
  }

  mat-sidenav-container mat-sidenav {
    background-color: rgba(255, 255, 255, 0.68) !important;
  }

  .mat-drawer-content {
    height: 100vh !important;
  }

  .modal-right {
    height: 100% !important;
    border-radius: 5px;

    mat-dialog-content {
      max-height: 100vh !important;
      flex: 2;
    }
  }

  mat-sidenav-content mat-toolbar.mat-toolbar.mat-primary {
    max-width: 100%;
    width: 100%;
    margin: 0px auto;
    display: block;
    border-radius: 0;
  }

  mat-sidenav-content mat-toolbar.mat-toolbar.mat-primary.sub-nav {
    border-radius: 0;
    max-width: 90%;
    width: 90%;
    margin: 20px auto 10px auto;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    /* max-height: 37px; */
    padding: 0;
    min-height: 50px;

    mat-toolbar-row {
      height: 50px;
    }
  }

  mat-toolbar.mat-toolbar.mat-primary mat-toolbar-row {
    border-radius: 5px;
  }

  .ngx-datatable {
    border-radius: 5px;
  }

  mat-toolbar mat-toolbar-row .navigation-top_item:last-of-type {
    min-width: auto !important;
  }

   mat-toolbar mat-toolbar-row .navigation-top_item {
    width: auto !important;
    min-width: auto;
  }

   mat-toolbar mat-toolbar-row .navigation-top {
    justify-content: space-between;
  }

  .container .search-bar {
    max-width: 90%;
    margin: 0 auto !important;
  }

  app-tasks perfect-scrollbar {
    max-width: 95%;
    border-radius: 5px;
    margin: 0 auto;
    height: calc(100vh - 220px) !important;
  }

  app-tasks perfect-scrollbar > .ps {
    max-width: 100%;
  }

  app-tasks perfect-scrollbar .headers {
    justify-content: space-between;
  }

  app-tasks perfect-scrollbar .headers mat-card.mat-card.example-card {
    flex: calc(18% - 20px) !important;
    width: calc(18% - 20px) !important;
    max-width: calc(18% - 20px) !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
  }

  app-tasks perfect-scrollbar .headers mat-card.mat-card.example-card::after {
    display: none;
  }

  app-tasks perfect-scrollbar .cards .cards-item {
    flex: calc(18% - 20px) !important;
    width: calc(18% - 20px) !important;
    max-width: calc(18% - -12px) !important;
    border-radius: 5px;
    min-height: 135px;
    padding-bottom: 15px;
  }

  app-tasks perfect-scrollbar .cards {
    justify-content: space-between !important;
    align-items: flex-start;
    min-height: auto !important;
  }

  app-tasks perfect-scrollbar .cards .cards-item::after {
    display: none;
  }

  .assignations_right,
  .assignations_left {
    flex: 0 0 calc(50% - 10px);
    border: 2px solid #666;
    height: 300px;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
  }

  .importance-minimal, .importance-high, .importance-average, .importance-critical {
    height: 30px;
    width: 30px;
    right: 0;
    bottom: 0;
    border-radius: 0;
    border-top-left-radius: 5px;
  }

  .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
    border: 2px solid black;
  }

  .mat-button-toggle-standalone.mat-button-toggle-appearance-standard  mat-button-toggle, .mat-button-toggle-group-appearance-standard mat-button-toggle {
      background: rgba(255, 255, 255, 0.56) !important;
  }

  .mat-button-toggle-standalone.mat-button-toggle-appearance-standard .mat-button-toggle-checked, .mat-button-toggle-group-appearance-standard .mat-button-toggle-checked {
      background: $primary !important;
  }
}
