@import '~@angular/material/theming';
@include mat-core();

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-blue-grey);
$app-accent:  mat-palette($mat-blue-grey);
$app-warn:    mat-palette($mat-blue-grey);

// Typography
$base-font-unit: 14px;

$globalFontFamily: 'Open Sans','Roboto', Arial, sans-serif;
$standardFontSize: 16px;
$titleFontSize: 45px;
$subTitleFontSize: 35px;

$regularFont : 'regular';
$mediumFont : 'medium';
$boldFont : 'bold';

// Margin & Padding Base unit
$base-space-unit: 5px;

// Colors
// $colors: (
//   primary: #607d8b,
//   white: #fff,
//   black: #000,
//   red: red,
//   grayLight: #eee,
//   greyLight: #dfe2ef7a
// );

// $primary: mat-color($app-primary);
// $accent: mat-color($app-primary);
// $warn: mat-color($app-primary);

$RussianLand: 'RussianLand';

// $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
// @include angular-material-theme($app-theme);


// Breakpoints
$breakpoints: (
  'small':  ( max-width:  812px ),
  'medium': ( min-width:  768px) and (max-width:  1024px),
  'tablet':  ( max-width:  1100px ),
  'tablet-large': (min-width: 1200px) and (max-width: 1622px),
  'large':  ( min-width:  1024px )
) !default;
