<h2 mat-dialog-title class="flex flex--space-between flex--align-center pt-5 mb-15">
  <span class="ml-15">
    {{'Ticket History'}}
  </span>
  <button mat-icon-button cdkFocusInitial mat-dialog-close class="mr-15">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<div mat-dialog-content class="flex flex--justify-center p-0 m-0" *ngIf="getUdatesList()">
  <mat-list>
    <mat-list-item *ngFor="let update of getUdatesList()">
      <mat-icon mat-list-icon>history</mat-icon>
      <div class="flex flex-column">
        <mat-label color="primary" mat-line>
          <b>{{'User : '}}</b>
          {{getUserName(update.assignedUserId)}}
        </mat-label>
        <mat-label color="primary" mat-line>
          <b>{{'Status : '}} {{update.status}}</b>
        </mat-label>
        <mat-label color="primary" mat-line>
          <b>{{'description : '}}</b>
          <div class="inner-html" [innerHtml]="update.description"></div>
        </mat-label>
        <mat-label class="w-tooltip" mat-line [matTooltip]="'On ' + update.editionDate" matTooltipPosition="below"
          matTooltipClass="log-work-tooltip"><b>{{'Date : '}}</b> {{getdateFrom(update.editionDate)}}
        </mat-label>
      </div>
    </mat-list-item>
  </mat-list>
</div>
