@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

:host {
  mat-dialog-content {
    .form-project {
      &_inputs {
        width: 100%;
        flex: 0 0 calc(50% - 10px);

        mat-form-field {
          width: 100%;
        }
      }
    }

    .two-blocs {
      padding-bottom: 20px;

      @include respond-to('tablet') {
        @include flex-direction(column);
      }

      .ml-30 {
        @include respond-to('tablet') {
          margin: 0 !important;
        }
      }
    }
  }

  .modal-right_actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
