<div class="modal-right">
  <!-- Heading -->
  <h2 mat-dialog-title>
    <span *ngIf="isDetailsMode()">
      {{data.project.projectName}} details
    </span>
    <span *ngIf="isEditMode()">
      Edit {{data.project.projectName}} information
    </span>
    <span *ngIf="isAddMode()">
      Add new project
    </span>


    <div class="modal-right_actions">
      <div class="actions">
        <button mat-raised-button color="warn" [disabled]="!projectForm.valid" (click)="saveForm('add')"
          *ngIf="isAddMode()">Add</button>
        <button mat-raised-button color="warn" [disabled]="!projectForm.valid" (click)="saveForm('edit')"
          *ngIf="isEditMode()">Save</button>
        <button mat-raised-button color="warn" *ngIf="isDetailsMode()">Close</button>
      </div>
      <button *ngIf="isDetailsMode()" mat-icon-button (click)="onEditClick()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </h2>
  <mat-dialog-content>
    <div class="two-blocs flex flex--space-between">
      <div class="left_part flex--1">
        <!-- Global informations  block -->
        <h2 class="section-header section-header--warn mb-5">
          {{'Global Informations'}}
        </h2>
        <form class="form-project flex mt-15" [formGroup]="projectForm" id="form--validation">
          <div class="form-project_inputs">
            <!-- Project name -->
            <mat-form-field [color]="'warn'" appearance="outline">
              <mat-label>Project name</mat-label>
              <input matInput autocomplete="on" placeholder="Enter fullname" name="name" formControlName="projectName"
                [ngModel]="getProjectName(data)" [errorStateMatcher]="matcher">
              <mat-icon matSuffix>work</mat-icon>
              <mat-error *ngIf="fieldHasError('projectName','required')">
                Project name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <!-- Start date -->
            <mat-form-field [color]="'warn'" appearance="outline">
              <mat-label>Start date</mat-label>
              <input matInput [matDatepicker]="startDate" placeholder="Start date" name="startDate"
                formControlName="startDate" (focus)="startDate.open()" [ngModel]="getStartDate(data)">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
              <mat-error *ngIf="fieldHasError('startDate', 'required')">
                Start date is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <!-- End date -->
            <mat-form-field [color]="'warn'" appearance="outline">
              <mat-label>End date</mat-label>
              <input matInput [matDatepicker]="endDate" placeholder="End date" name="endDate" formControlName="endDate"
                [ngModel]="getEndDate(data)" (focus)="endDate.open()" [min]="projectForm.value.startDate">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
              <mat-error *ngIf="fieldHasError('endDate', 'required')">
                End date is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="isEndDateValid()">
                End date must be <strong>Greater</strong> than Start date
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Picture block -->
          <div class="form-project_picture flex--1 flex flex--justify-center flex--align-center">
            <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)"
              [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">

              <div class="drop-container_inner">
                <img *ngIf="(getImage(data) !== '') && isDetailsMode() || isEditMode()" [src]="getImage(data)"
                  alt="user profile">
                <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
                  [uploadInput]="uploadInput" multiple formControlName="picture">
                <button type="button" class="start-upload-btn" (click)="startUpload()">
                  Upload
                </button>
              </div>
              <mat-icon matSuffix *ngIf="!isDetailsMode()">
                add_a_photo
              </mat-icon>
            </div>
          </div>
        </form>
        <!-- Assignation block -->
        <h2 class="section-header section-header--warn">
          {{'Assignations'}}
        </h2>
        <app-dual-list-box *ngIf="unassignedUsers && assignedUsers" [label]="'Users'" [initArray]="getUnassignedArray()"
          [assignationArray]="getAssignedArray()" [isDetailsMode]="isDetailsMode()"
          (change)="AssignationChanged($event)">
        </app-dual-list-box>
      </div>
      <div class="right_part ml-30 flex--1">
        <!-- Tickets block -->
        <h2 class="section-header section-header--warn" *ngIf="!isAddMode()">
          {{'Tickets'}}
        </h2>
        <app-ticket-box
          *ngIf="users && data && data.project && data.project.assignedTickets && data.project.assignedUsers"
          [users]="users" [mode]="data.mode" [project]="data.project">
        </app-ticket-box>
      </div>
    </div>
  </mat-dialog-content>
</div>
