@import '../../../../styles.scss';
@import '../../../../scss/themes.scss';

:host {
  display: block;
  app-table-content {
    max-width: 90%;

    @include respond-to('small') {
      max-width: 100%;
    }
  }
}
